---
import TitleSection from "./TitleSection.astro";

import { geti18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<section class="mb-16" id="about">
    <TitleSection>{i18n.ABOUT_ME.TITLE}</TitleSection>
    <p class="mb-3 text-colorSecondary">
        {i18n.ABOUT_ME.P1_TEXT1} <a class="font-bold text-colorPrimary underline-transition" href="https://universidadean.edu.co/" target="_blank" rel="nofollow noreferrer" title={i18n.ABOUT_ME.TEXT_TITLE}>{i18n.ABOUT_ME.P1_TEXT2}</a> {i18n.ABOUT_ME.P1_TEXT3}
    </p>
    <p class="mb-3 text-colorSecondary">
        {i18n.ABOUT_ME.P2_TEXT1}
    </p>
    <p class="text-colorSecondary">
        {i18n.ABOUT_ME.P3_TEXT1}
    </p>
</section>