---
import { geti18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<footer class="border-t border-borderBoxActive pt-16 text-colorSecondary text-xs">
  <p>
    {i18n.FOOTER.TEXT_ONE}
    <a
      class="font-bold text-colorPrimary underline-transition"
      href="https://brittanychiang.com/"
      target="_blank"
      rel="nofollow noreferrer"
      title={i18n.FOOTER.TITLE_TEXT_ONE}
    >
      Brittany Chiang.
    </a>
  </p>
  <p>
    {i18n.FOOTER.TEXT_TWO}
    <a
      class="font-bold text-colorPrimary underline-transition"
      href="https://astro.build/"
      target="_blank"
      rel="nofollow noreferrer"
      title={i18n.FOOTER.TITLE_TEXT_TWO}>Astro</a
    > 
    {i18n.FOOTER.TEXT_AND}
    <a
      class="font-bold text-colorPrimary underline-transition"
      href="https://tailwindcss.com/"
      target="_blank"
      rel="nofollow noreferrer"
      title={i18n.FOOTER.TITLE_TEXT_TWO_AFTER_AND}>Tailwind CSS</a
    >, {i18n.FOOTER.TEXT_THREE}
    <a
      class="font-bold text-colorPrimary underline-transition"
      href="https://vercel.com/"
      target="_blank"
      rel="nofollow noreferrer"
      title={i18n.FOOTER.TITLE_TEXT_THREE}>Vercel</a
    >.
  </p>
  <p>
    {i18n.FOOTER.TEXT_FOUR} <a class="font-bold text-colorPrimary underline-transition" href="https://github.com/midudev" target="_blank" rel="nofollow noreferrer" title={i18n.FOOTER.TITLE_TEXT_FOUR}>Midudev</a>.
  </p>
</footer>
