---
import { Image } from "astro:assets";
import Pill from "./Pill.astro";
import TitleSection from "./TitleSection.astro";

import { geti18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });

const PROJECTS = [
  {
    title: i18n.PROJECTS.PROJECTS_LIST[0].TITLE,
    description: i18n.PROJECTS.PROJECTS_LIST[0].DESCRIPTION,
    image_alt: i18n.PROJECTS.PROJECTS_LIST[0].IMAGE_ALT,
    image_src: "/images/projects/cover/agora-holding.webp",
    demo: "https://agoraholding.co/",
    technologies: ['Astro', 'Tailwind CSS', 'JavaScript']
  },
  {
    title: i18n.PROJECTS.PROJECTS_LIST[1].TITLE,
    description: i18n.PROJECTS.PROJECTS_LIST[1].DESCRIPTION,
    image_alt: i18n.PROJECTS.PROJECTS_LIST[1].IMAGE_ALT,
    image_src: "/images/projects/cover/velada-web.webp",
    demo: "https://3s-velada-2024.vercel.app/",
    technologies: ['Astro', 'Tailwind CSS', 'JavaScript', 'Typescript', 'Turso']
  },
  {
    title: i18n.PROJECTS.PROJECTS_LIST[2].TITLE,
    description: i18n.PROJECTS.PROJECTS_LIST[2].DESCRIPTION,
    image_alt: i18n.PROJECTS.PROJECTS_LIST[2].IMAGE_ALT,
    image_src: "/images/projects/cover/esland-web.webp",
    demo: "https://3s-esland-2024.vercel.app/",
    technologies: ['Astro', 'Tailwind CSS', 'JavaScript', 'Typescript', 'Turso']
  },
  {
    title: i18n.PROJECTS.PROJECTS_LIST[3].TITLE,
    description: i18n.PROJECTS.PROJECTS_LIST[3].DESCRIPTION,
    image_alt: i18n.PROJECTS.PROJECTS_LIST[3].IMAGE_ALT,
    image_src: "/images/projects/cover/velada-landing.webp",
    demo: "https://astro-khaki-nine.vercel.app/",
    technologies: ['Astro', 'Tailwind CSS', 'JavaScript', 'Three JS']
  }
]

---

<section class="mb-16" id="proyects">
  <TitleSection>{i18n.PROJECTS.TITLE}</TitleSection>
  {
    PROJECTS.map((project) => {
      return (
        <a
          class="group relative flex flex-col sm:flex-row-reverse gap-x-4 mb-12"
          href={project.demo}
          target="_blank"
          rel="nofollow noreferrer"
          title={i18n.PROJECTS.TEXT_TITLE}
        >
          <div class="absolute block -inset-x-4 -inset-y-4 rounded-lg border border-borderBox group-hover:border-borderBoxActive bg-backgroundSecondary shadowBox -z-10 backgroundTransition"></div>
          <div class="min-w-40 max-w-52 lg:max-w-40 order-last lg:order-first">
            <Image
              src={project.image_src}
              alt={project.image_alt}
              width={1322}
              height={922}
              loading="lazy"
              decoding="async"
              class="rounded"
            />
          </div>
          <div>
            <h3 class="mb-2 font-bold text-xl">{project.title}</h3>
            <p class="mb-3 font-light text-colorSecondary">{project.description}</p>
            <ul class="flex flex-wrap gap-x-2">
              {project.technologies.map((tecnologia, i) => (
                <Pill>{tecnologia}</Pill>
              ))}
            </ul>
          </div>
        </a>
      );
    })
  }
</section>