---
import { Image } from "astro:assets";
import { PROJECTS } from "../constants/projects.js";
import Pill from "./Pill.astro";
import TitleSection from "./TitleSection.astro";
---

<section class="mb-16" id="proyects">
  <TitleSection>Proyectos</TitleSection>
  {
    PROJECTS.map((project) => {
      return (
        <a
          class="group relative flex flex-col lg:flex-row gap-x-4 mb-12"
          href={project.demo}
          target="_blank"
          rel="nofollow noreferrer"
          title="Demostración de la página web"
        >
          <div class="absolute block -inset-x-4 -inset-y-4 rounded-lg border border-borderBox group-hover:border-borderBoxActive bg-backgroundSecondary shadowBox -z-10 backgroundTransition"></div>
          <div class="min-w-40 max-w-52 lg:max-w-40 order-last lg:order-first">
            <Image
              src={project.image_src}
              alt={project.image_alt}
              width={1322}
              height={922}
              loading="lazy"
              decoding="async"
              class="rounded"
            />
          </div>
          <div>
            <h3 class="mb-2 font-bold text-xl">{project.title}</h3>
            <p class="mb-3 font-light text-colorSecondary">{project.description}</p>
            <ul class="flex flex-wrap gap-x-2">
              {project.technologies.map((tecnologia, i) => (
                <Pill>{tecnologia}</Pill>
              ))}
            </ul>
          </div>
        </a>
      );
    })
  }
</section>