---
interface Props {
    href: string;
    address: string;
}
const { href, address } = Astro.props

import { geti18n } from '@/i18n';
const { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---
<a href={href} 
    target="_blank"
    rel="noreferrer nofollow"
    class="
        flex
        justify-center
        items-center
        text-colorSecondary
        hover:scale-110
        hover:text-colorPrimary
        transition
    "
    title=`${i18n.SOCIAL_PILL_TITLE} ${address}`
    aria-label={`${i18n.SOCIAL_PILL_ARIA_LABEL} ${address}`}
>
    <slot />
</a>